


.circle{
    height: 260px;
    width: 260px;
    border-radius: 130px;
    background-color: #d7d8d9;
}
.rectangle_string{
    border-radius: 6px;
    background-color: #d7d8d9;
    margin-top: 12px;
    height: 24px;
    width: 280px;
}
.rectangle{
    border-radius: 6px;
    background-color: #d7d8d9;
    margin-top: 12px;
    height: 83px;
    width: 280px;
}
.line{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}
.price{
    background-color: #d7d8d9;
    height: 27px;
    width: 89px;
}
.basket{
    margin-left: 40px;
    background-color: #d7d8d9;
    height: 43px;
    width: 151px;
    border-radius: 21px;
}
