@import '../../scss/variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }

    .button--cart{
      display: flex;
      align-items: center;
      line-height: 23px;
      padding: 12px 25px;
  
      svg {
        margin-right: 8px;
        margin-bottom: 1px;
      }
  
      span {
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}