@import '../../scss/fonts';
@import '../../scss/variables';
@import '../../scss/normalize';

.cart__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;
    width: 100%;
    border-top: 1px solid $gray-line;
    padding-top: 30px;
    margin-top: 30px;

    img {
        width: 80px;
        height: 80px;
        margin-right: 15px;
    }
  

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;

    h3 {
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.01em;
    }

    p {
      font-size: 18px;
      color: #8d8d8d;
    }
  }

  &-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 90px;

    &-minus {
      svg {
        path:first-of-type {
          display: none;
        }
      }
    }

    b {
      font-size: 22px;
    }
  }

  &-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;

    b {
      font-weight: bold;
      font-size: 22px;
      letter-spacing: 0.01em;
    }
  }

  &-remove {
    display: flex;
    align-items: center;
   

    .button {
      border-color: darken($color: $gray-line, $amount: 10);
    }

    svg {
      transform: rotate(45deg);

      path {
        fill: darken($color: $gray-line, $amount: 15);
      }
    }

    .button {
      svg {
        width: 11.5px;
        height: 11.5px;
        position: relative;
      }
      &:hover,
      &:active {
        border-color: darken($color: $gray-line, $amount: 80);
        background-color: darken($color: $gray-line, $amount: 80);
      }
    }
  }
}